name: deploy

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install jupyter-book
        run: |
          pip install -U jupyter-book ghp-import

      - name: Build the book
        run: jupyter-book build mybook/

      - name: Debug path
        run: |
          ls -R mybook/

      - name: Deploy to GitHub Pages
        run: |
          ghp-import -n -p -f mybook/_build/html
